@model Knjiznice.Models.Posudba.PosudbaModel
@{
    ViewBag.Title = @Model.Naslov;
}




<div class="container">
    <div class="header clearfix detailHeading">
        <h2 class="text-muted">Posudi</h2>
    </div>

    <div class="jumbotron">
        <div class="row">
            <div class="col-md-3">
                <div>
                    <p id="itemTitle">@Model.Naslov</p>
                    <img class="detailImage" src="@Model.ImageUrl" />
                </div>
            </div>
            @*Išlo bi i sa tag helperom*@
            <div class="col-md-9">
                @*HTML helper*@
                @using (Html.BeginForm("Posudi", "Katalog", FormMethod.Post))
                {
                    @Html.HiddenFor(a => a.GradjaId)
                    <div>
                        Unesite broj članske iskaznice.
                        @Html.TextBoxFor(a => a.ClanskaIskaznicaId)
                        @*write out a text box and set attributes according to info in the model*@
                    </div>
                    <div>
                        <button type="submit" class="btn btn-success btn-lg">Posudi</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>